<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_link}}
</head>
<body>
 {{>navbar}}
<!--Main header-->
<div class="cantainer-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

              
               <div class="row">
                   
                     <!--left side div-->
                   <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="error_img">
                            <img src="image/404.png" alt="image not found" class="img-fluid" >
                        </figure>
                     
                    <p>Welcome to Shivam weather app</p>
                    <h1>{{errormsg}}</h1>
                    <a href="/"><button>GoBack</button></a>
                   </div>
               
               
                </div>

            </div>
     </div>
</div>
<!--Footer code-->
 {{>footer}}
</body>
</html>