<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_link}}
</head>
<body>
 {{>navbar}}
<!--Main header-->
<div class="cantainer-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

              
               <div class="row">
                   
                     <!--left side div-->
                   <div class="col-md-6 col-12 main_header_right align-iteams-center">
                        <figure>
                            <img src="image/about.png" alt="image not found" class="img-fluid" style="height:40rem; width:auto;">
                        </figure>
                    </div>
                   <!--right side div-->
                   <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a computer  science <span class="text-c">Student</span> And Mern Stack Developer</h1>
                    <a href="https://github.com/shivamtiwari101" target="_shivam"><button>FollowMe</button></a>
                   </div>
               
               
                </div>

            </div>
     </div>
</div>
<!--Footer code-->
 {{>footer}}
</body>
</html>