<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_link}}
</head>
<body>
  {{>navbar}}
<div>
<h1>Covid 19 data<h1>
</div>
<!--Footer code-->
{{>footer}}
<script src="js/main.js"></script>
</body>
</html>